header {
	height: 150px;
}

nav {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 13px;
}

.nav-link {
	margin: 13px;
}

.allOfTheThings {
	text-align: center;
}

.post-wrapper{
	border: 1px solid black;
}