// fonts
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Libre+Barcode+128+Text|Megrim|Monoton');

// nav stuff
nav {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 13px;
	font-family: 'Megrim', cursive;
}

.nav-link {
	margin: 13px;
}

.nav-link-active {
	border-bottom: 1px solid gray;
}


.allOfTheThings {
	text-align: center;
}

.post-wrapper{
	border: 1px solid black;
}

// helpers

.pad-me {
	padding: 13px !important;
}

.left-align {
	text-align: left !important;
}


// Styling for specific elements

.site-title{
	margin:20px !important;
	padding:0;
	// font-size: 4rem !important;
	font-family: 'Monoton', cursive;
	// font-family: 'Fredericka the Great', cursive;
	// font-family: 'Libre Barcode 128 Text', cursive;
}

.pa-demos-iframe {
	border: 0;
	width: 350px;
	height: 588px
}

.got-style-fb {
	color: #3b5998;
}

.got-style-ig {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.got-style-bc {
	color: #629aa9;
}


.circle-wrapper svg {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	// border: 1px solid blue;
}

.tr-circle {
	display: inline-block;
	text-align: center;
}

