header {
	height: 150px;
}

body {
	color: lightgray;
  	background: #000;
}

nav {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 13px;
}

.nav-link {
	margin: 13px;
}

.allOfTheThings {
	text-align: center;
}

.post-wrapper{
	border: 1px solid black;
}

.pa-demos-iframe {
	border: 0; 
	width: 350px; 
	height: 588px
}



